<!-- <div>
    <div class="container">
        <div>
            <div class="letters">
                <h2>Create Password</h2>
                <p>Your new password must be different with your previous password.</p>
                <img height="40px" width="40px" src="../../assets/images/6195700.png" alt="">
            </div>
            <div>
                <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
                    <input name="name" #name="ngModel" type="password" placeholder="Enter Your New Password" required
                        ngModel><br>
                    <small class="formText" *ngIf="name.invalid && name.touched">Password is Required*</small>
                    <br>
                    <input name="password" #password="ngModel" type="password" placeholder="Confirm password" required
                        ngModel> <br>
                    <small class="formText" *ngIf="password.invalid && password.touched">Password is required*</small>
                    <br>
                    <button type="submit">submit</button>
                </form>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="container-fluid">
    <div class="contain container-fluid  bg-light">
     <h1 class="text-danger  ASUS d-inline bg-light ">ASUS</h1> -->
     <!-- <img  class="ASUS d-inline bg-white" src="../../assets/images/882744.png" alt="" width="150px" height="70px">
    </div>
</div> -->
<div class="bg-info " style="height: 1100px;">
  <div class="d-flex justify-content-center">
<div class="ms-5 row">
  <div class="dropdown col">
    <button class="btn btn-danger dropdown-toggle mt-4 me-0" data-bs-toggle="dropdown"></button>
    <ul class="dropdown-menu ps-2">
    <li><a class="dropdown-item" routerLink="/login"> Login</a></li>
    <li><a class="dropdown-item" routerLink="/signUp"> Signup </a></li>
    <li><a  class="dropdown-item"(click)="onLogout()"> Logout</a></li>
    </ul>
   </div>
  <img class="col ms-0 mt-3" id="tooltip" routerLink="/aboutPage" (mouseover)="tooltip()" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-title="Go Back !!"  type="button" src="../../assets/images/back-button.png" alt="" width="100px" height="80px">
</div>
<div class="container mt-5">
<div id="carouselImage" class=" carousel w-75 carousel-dark slide ms-5" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselImage" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselImage" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselImage" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../../assets/images/img1.jpg" class="d-block w-100" alt="..." height="650px">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/img2.jpg" class="d-block w-100" alt="..." height="650px">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/img3.jpg" class="d-block w-100" alt="..." height="650px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImage" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-danger" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselImage" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-danger" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
<div class="ms-5 w-75">
  <div>
    <h2 class=" font-monospace mt-4 ">Do you want to read more about our company?</h2>
    <button class="btn btn-danger mt-2 " data-bs-toggle="collapse" data-bs-target="#collapse">Click me!</button>
    <div class="collapse card collapse-horizontal" id="collapse">
      <div class="card-body">
        <h2 class="card-title">Introduction :</h2>
     <p class="fst-italic">ASUS is a Taiwan-based, multinational computer hardware and consumer electronics company that was established in 1989. Dedicated to creating products for today’s and tomorrow’s smart life, ASUS is the world’s No. 1 motherboard and gaming brand as well as a top-three consumer notebook vendor.

      ASUS became widely known in North America when it revolutionized the PC industry in 2007 with its Eee PC™. Today, the company is pioneering new mobile trends with the ASUS ZenFone™ series, and it is rapidly developing virtual and augmented reality products as well as IOT devices and robotics technologies. Most recently, ASUS introduced Zenbo, a smart home robot designed to provide assistance, entertainment, and companionship to families.
      
      In 2015 and 2016, Fortune magazine recognized ASUS as one of the World’s Most Admired Companies, and for the past four years Interbrand has ranked ASUS Taiwan’s most valuable international brand. The company has more than 17,000 employees, including a world-class R&D team. Driven by innovation and committed to quality, ASUS won 4,385 awards and earned approximately US$13.3 billion in revenue in 2016.</p>
    </div>
  </div>
</div>
</div>
</div>
<!-- <div class="bg-info">
  <div>
    <img class="ms-5" routerLink="/aboutPage" type="button" src="../../assets/images/digital-back-icon-button-clipart-download-n8pKgT.png" alt="" width="100px" height="100px">
  </div> -->
  <!-- <div class="container ">
  <div id="carouselImage" class="carousel w-75 carousel-dark slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImage" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImage" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImage" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="../../assets/images/img1.jpg" class="d-block w-100" alt="..." height="650px" >
        </div>
        <div class="carousel-item">
          <img src="../../assets/images/img2.jpg" class="d-block w-100" alt="..." height="650px">
        </div>
        <div class="carousel-item">
          <img src="../../assets/images/img3.jpg" class="d-block w-100" alt="..."  height="650px">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselImage" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-danger" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselImage" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-danger" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
  </div> -->
  