<div class="container ">
    <div class=" row ">
        <div class="col-1 col-sm-3">

        </div>
        <div class="col-10 col-sm-6 mt-5 bg-info bg-opacity-75 rounded shadow">
            <form class="m-3" [formGroup]="signUpForm">
                <h1 class="text-center">Create a New Account</h1>
                <h4 class="text-center">It's quick and easy.</h4>
                <br>
                <div class="row">
                    <div class="col">
                        <input class="rounded border-none form-control" type="text" formControlName="firstName"
                            placeholder="FirstName"
                            [ngClass]="{'is-invalid':(submited && signUpForm.controls['firstName'].invalid)|| (signUpForm.controls['firstName'].invalid && signUpForm.controls['firstName'].touched) ,'is-valid':signUpForm.controls['firstName'].valid}" required>
                        <small class="text-danger invalid-feedback">  Enter Your Valid Name* </small>
                    </div>
                    <div class="col">
                        <input class="rounded border-light form-control" type="text" formControlName="lastName"
                            placeholder="LastName"
                            [ngClass]="{'is-invalid':(submited && signUpForm.controls['lastName'].invalid) || (signUpForm.controls['lastName'].invalid && signUpForm.controls['lastName'].touched) ,'is-valid':signUpForm.controls['lastName'].valid}">
                        <small class="text-danger invalid-feedback">Enter Your Valid Name* </small>
                    </div>
                </div>
                <pre></pre>
                <div>
                    <input class="rounded border-light form-control" type="Email" formControlName="email"
                        placeholder="Enter Your Email address"
                        [ngClass]="{'is-invalid':(submited  && signUpForm.controls['email'].invalid)|| (signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched) ,'is-valid':signUpForm.controls['email'].valid}">
                    <small class="text-danger invalid-feedback">Enter valid email(Example: abc@gmail.com)*</small>
                </div>
                <pre></pre>
                <div>
                    <input class="rounded border-light form-control" type="password" formControlName="password"
                        placeholder="New Password"
                        [ngClass]="{'is-invalid':(submited && signUpForm.controls['password'].invalid)|| (signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched) ,'is-valid':signUpForm.controls['password'].valid}">
                    <small class="text-danger invalid-feedback">(Your password must be at least 6 characters long. Please try another.) *</small>
                </div>
                <pre></pre>
                <div>
                    <label for="Dateofbirth">Date of
                        Birth :</label>
                    <input class="rounded border-light form-control" formControlName="dob" type="date"
                        [ngClass]="{'is-invalid':(submited && signUpForm.controls['dob'].invalid)|| (signUpForm.controls['dob'].invalid && signUpForm.controls['dob'].touched) ,'is-valid':signUpForm.controls['dob'].valid}">
                    <small class="text-danger invalid-feedback">Enter Valid  Date  *</small>
                </div>
                <pre></pre>
                <div class="row">
                    <div class="col-3 col-sm-3">
                        <p>Gender :</p>
                    </div>
                    <div class="col-3 col-sm-3 form-check" *ngFor="let gender of genders">
                        <!-- <input name="gender" formControlName="gender" type="radio" [value]="gender">{{gender}} -->
                        <input class="form-check-input" formControlName="gender" type="radio" name="gender"
                            [value]="gender">{{gender}}
                        <!-- <label class="gender" for="">{{gender}}</label> -->
                        <!-- <input name="gender" type="radio" value="Male" >
            <label class="gender" for="gender">Male</label>
            </div>
            <div>
            <input name="gender" type="radio" value="Female">
            <label class="gender" for="gender">Female</label>
            </div>
            <div>
            <input name="gender" type="radio" value="Others"> 
            <label class="gender" for="gender">Others</label> -->
                    </div>
                </div>
                <pre></pre>
                <p style="font-size: 12px;">People who use our service may have uploaded your contact information to
                    Asus.<a class="link-danger" href="https://www.asus.com/in/About_ASUS/Company-Introduction/">Learn
                        more.</a><br><br>
                    By clicking Sign Up, you agree to our <a class="link-danger"
                        href="https://www.asus.com/in/content/terms-conditions/">Terms,Privacy Policy</a> and <a
                        class="link-danger">Cookies Policy.</a> You may receive SMS notifications from us and can opt
                    out at any
                    time.
                </p>
                <div class="text-center">
                    <button class="button btn btn-secondary btn-outline-light px-5" type="submit" (click)="submitBtn()">
                        Sign
                        Up</button><br><br>
                    <a class="link-danger" routerLink="/login">Already have an Account?</a>
                </div>
            </form>

        </div>
        <div class="col-1 col-sm-3 ">
        </div>
    </div>
</div>