<div *ngIf="!forgotPassword ;else passwrd">
    <div class="row w-100">
        <div class="col-1 col-sm-4">

        </div>
        <div class="col-10 col-sm-3 bg-primary bg-opacity-75 m-5 rounded shadow-sm">
            <div class="text-center p-3">
                <h2 class="fs-3">Forgot Password</h2>
                <h6>If you can't remember your password,<br> you can reset it using your email address.</h6>
                <img class="pt-2" height="50px" width="50px" src="../../assets/images/6179058.png" alt="">
            </div>
            <div class="p-3">
                <form [formGroup]="resetPassword">
                    <input class="form-control" type="email" formControlName="email" placeholder="Enter Your Email"
                        [ngClass]="{'is-invalid': (submited && resetPassword.controls['email'].invalid)||(resetPassword.controls['email'].invalid && resetPassword.controls['email'].touched),'is-valid':resetPassword.controls['email'].valid}"
                        required>
                    <small class="formText text-white invalid-feedback">Enter Valid email*</small>
                    <div class="text-center ">
                        <small class="text-white">{{message}}</small>
                        <br>
                        <button class="btn btn-success px-5" type="submit" (click)="goReset()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-1 col-sm-5">

        </div>
    </div>
</div>
<ng-template #passwrd>
    <div>
        <div class="row w-100">
            <div class="col-1 col-sm-4">

            </div>
            <div class="col-10 col-sm-3 bg-primary bg-opacity-75 m-5 rounded shadow">
                <div class="text-center p-2">
                    <h2>Create Password</h2>
                    <p>Your new password must be different with your previous password.</p>
                    <img height="40px" width="40px" src="../../assets/images/6195700.png" alt="">
                </div>
                <div class="">
                    <form class="p-4" #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
                        <div>
                        <input class="form-control" name="password" minlength="6" #password="ngModel" type="password"
                            placeholder="Enter Your New Password" required ngModel [ngClass]="{'is-invalid':(submited1 && password.invalid)||(password.touched && password.invalid),'is-valid':password.valid}" required>
                        <small class="text-warning invalid-feedback">(password must be atleast 6 characters long.)*</small>
                    </div>
                        <br>
                        <input class="form-control" name="confirmPassword" #confirmPassword="ngModel" type="password"
                            placeholder="Confirm password" required ngModel [ngClass]="{'is-invalid':(submited1 && confirmPassword.invalid)||(confirmPassword.touched && confirmPassword.invalid),'is-valid':confirmPassword.valid}" required>
                        <small class="text-warning invalid-feedback">Enter
                            valid password*</small><br>
                        <small class="text-warning fs-6">{{message1}}</small>
                        <br>
                        <div class="text-center">
                            <button class=" btn btn-warning" type="submit">submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-1 col-sm-5">

            </div>
        </div>
    </div>


</ng-template>