<div class="main">
  <app-top-bar></app-top-bar>
  <div class="content">
    <br><br><br>
    <h1 class="text-center text-danger">WELCOME!!!
    </h1>
    <img src="../../assets/images/9-2-education-png-file-thumb.png" alt="" width="300px" height="300px">
    <img class="img-fluid" id="achiveimg" src="../../assets/images/pngegg.png" alt="" >
    <h6 class="fst-italic ps-5 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, deleniti, ea aliquam dolor exercitationem<br>
      quas, quidem odit quaerat illo aut ipsum dicta. Itaque, dignissimos similique laborum nam veniam ipsam hic.
    </h6>
    <br>
    <h6 class="fst-italic ps-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et blanditiis incidunt aliquid enim repellat quisquam<br>
      sequi, soluta illo atque officia earum temporibus nam, provident, reiciendis quis laboriosam iusto ipsam at.
    </h6>
    <br>
    <h6 class="fst-italic ps-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, deleniti, ea aliquam dolor exercitationem<br>
      quas, quidem odit quaerat illo aut ipsum dicta. Itaque, dignissimos similique laborum nam veniam ipsam hic.
    </h6>
  </div>
  <div class="container">
    <img class="contactimg img-fluid" src="../../assets/images/70-700924_contact-us-png-contact.png" alt="">
    <h1  id="gmailadd" class="address">abc@gmail.com</h1>
    <h1 id="add" class="address">1234-56789</h1>
    <h1 id="add1" class="address ">Tirunelveli.</h1>
  </div>
  <br>
  <div class="container1">
    <img class="img-fluid" src="../../assets/images/About-Us-PNG-Clipart.png" alt="">
    <div class="footer">
      <p class="bg-white text-black font-monospace">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus praesentium totam qui libero impedit.
        Necessitatibus distinctio id optio aspernatur modi inventore voluptatibus, culpa laudantium, quis voluptate
        dolorum! Iure, ullam omnis.</p>
      <span>
        <div class="text-center">
        <button class="btn btn-primary" routerLink="/resetPassword">Read More!</button>
       </div>
      </span>
    </div>
  </div>
    <footer class="bg-dark w-100" style="height: 80px;">
      <h3 class=" text-center h-25 mt-0 pt-3 font-monospace text-danger">Copyright © 2019 ASUS</h3>
    </footer>
</div>