.main {
    height: 500px;
}

.container {
    text-align: center;
    width: 90%;
    margin-top: 100px;
    height: 500px;
}

.address {
    position: relative;
    top: -430px;
    padding: 40px;
    color: white;
}
#gmailadd{
    top: -420px;
    left: 195px;
}
// .address1 {
//     top: -460px;
// }

#add {
    top: -450px;
    left: 155px;
}

#add1 {
    top: -480px;
    left: 150px;
}